﻿@{ Layout = null;
                ViewData["Title"] = "Login"; }

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/Login.css" />
<title>@ViewData["Title"]</title>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h4>Final_Calidad</h4>
            <!-- Login Form -->
            <form autocomplete="off" method="post" action="/Auth/Login">
                <input type="text" id="Username" class="fadeIn second" name="Username" placeholder="Nombre de Usuario">
                <input type="password" id="Password" class="fadeIn third" name="Password" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Registrarse</a>
            </div>

        </div>
    </div>
